.header-banner {

    background-image: url("../images/banner.jpg");

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    min-height: 180px;

    width: 100%;

}