{% extends "base.html" %}


{% block banner_content %}

<a href="{{ url_for('home') }}">

    <img

        src="{{ url_for(

            'static',

            filename='images/books.png'

        ) }}"

        style="
            width:350px;
            height:auto;
        ">

</a>

{% endblock %}


{% block content %}

<!-- στοιχεια βιβλιου -->

<div class="container pt-0">

    <div class="row gx-5 align-items-start">

        <!-- αριστερη στηλη -->

        <div class="col-auto text-center">

            <!-- εξωφυλλο -->

            <div

                style="
                    width:380px;
                    height:600px;
                    display:flex;
                    align-items:top;
                    justify-content:center;
                ">

                <img

                    src="{{ book.cover_url }}"

                    style="
                        max-width:100%;
                        max-height:100%;
                        object-fit:contain;
                    "

                    onerror="
                        this.src='https://placehold.co/380x570?text=No+Cover'
                    ">

            </div>

            <!-- αντιτυπα -->

            <div

                style="
                    margin-top:6px;
                ">

                <h5>

                    <strong>Αντίτυπα:</strong>

                    {{ book.copies }}/{{ book.total_copies }}

                </h5>

            </div>

            <!-- κουμπι δανεισμου -->

            <div

                style="
                    margin-top:10px;
                ">

                {% if book.status == "Available" %}

                <a

                    href="{{ url_for(

                        'loans',

                        book_id=book.id

                    ) }}">

                    <button

                        class="btn library-btn-green"

                        style="
                            width:260px;
                            height:48px;
                            font-size:20px;
                            display:inline-flex;
                            align-items:center;
                            justify-content:center;
                        ">

                        Δανεισμός

                    </button>

                </a>

                {% else %}

                <button

                    class="btn btn-lg"

                    disabled

                    style="
                        width:260px;
                        background-color:#999999;
                        border-color:#999999;
                        color:white;
                        cursor:not-allowed;
                    "

                >

                    Μη διαθέσιμο

                </button>

                {% endif %}

            </div>

            <!-- κουμπια επεξεργασιας και διαγραφης -->

            <div

                style="
                    display:inline-flex;
                    align-items:center;
                    gap:20px;
                    padding:7px 17px;
                    margin-top:10px;
                    background:#f2ead8;
                    border:1px solid #cacaca;
                    border-radius:6px;
                ">

                <!-- επεξεργασια -->

                <a href="/edit-book/{{ book.id }}">

                    <img

                        src="{{ url_for(

                            'static',

                            filename='images/edit.png'

                        ) }}"

                        style="
                            width:20px;
                            height:20px;
                        ">

                </a>

                <!-- διαγραφη -->

                <form

                    action="/delete-book/{{ book.id }}"

                    method="POST"

                    style="margin:0;">

                    <button

                        type="button"

                        data-bs-toggle="modal"

                        data-bs-target="#deleteModal"

                        style="
                            border:none;
                            background:none;
                            padding:0;
                        ">

                        <img

                            src="{{ url_for(

                                'static',

                                filename='images/delete.png'

                            ) }}"

                            style="
                                width:20px;
                                height:20px;
                                cursor:pointer;
                            ">

                    </button>

                    <!-- παραθυρο επιβεβαιωσης -->

                    <div

                        class="modal fade"

                        id="deleteModal"

                        tabindex="-1">

                        <div class="modal-dialog modal-dialog-centered">

                            <div class="modal-content rounded-4">

                                <div class="modal-header border-0">

                                    <button

                                        type="button"

                                        class="btn-close"

                                        data-bs-dismiss="modal">

                                    </button>

                                </div>

                                <div class="modal-body text-center">

                                    <img

                                        src="{{ url_for(

                                            'static',

                                            filename='images/delete.png'

                                        ) }}"

                                        style="
                                            width:70px;
                                            margin-bottom:20px;
                                        ">

                                    <h3>

                                        Διαγραφή Βιβλίου

                                    </h3>

                                    <p

                                        style="
                                            color:gray;
                                            margin-top:20px;
                                        ">

                                        Το βιβλίο θα διαγραφεί οριστικά από την βάση.

                                        <br><br>

                                        Είστε σίγουροι;

                                    </p>

                                </div>

                                <div class="modal-footer border-0">

                                    <button

                                        type="button"

                                        class="btn btn-secondary"

                                        data-bs-dismiss="modal">

                                        Ακύρωση

                                    </button>

                                    <button

                                        type="submit"

                                        class="btn btn-danger">

                                        Διαγραφή

                                    </button>

                                </div>

                            </div>

                        </div>

                    </div>

                </form>

            </div>

        </div>

        <!-- δεξια στηλη -->

        <div class="col">

            <!-- τιτλος -->

            <h1

                style="
                    margin:0;
                    line-height:1.1;
                    font-size:3rem;
                ">

                {{ book.title }}

            </h1>

            <!-- συγγραφεας -->

            <div class="mt-4">

                <h5>

                    <strong>Συγγραφέας:</strong>

                    {{ book.authors }}

                    &nbsp; • &nbsp;

                    {{ book.year }}

                </h5>

            </div>

            <!-- εκδοτης -->

            <div class="mt-4">

                <h5>

                    <strong>Εκδότης:</strong>

                    {{ book.publisher }}

                </h5>

            </div>

            <!-- isbn και γλωσσα -->

            <div class="row mt-4">

                <div class="col-md-4">

                    <h5>

                        <strong>ISBN:</strong>

                        {{ book.isbn }}

                    </h5>

                </div>

                <div class="col-md-6">

                    <h5>

                        <strong>Γλώσσα:</strong>

                        {{ book.language }}

                    </h5>

                </div>

            </div>

            <!-- σελιδες και εξωφυλλο -->

            <div class="row mt-4">

                <div class="col-md-4">

                    <h5>

                        <strong>Σελίδες:</strong>

                        {{ book.pages }}

                    </h5>

                </div>

                <div class="col-md-6">

                    <h5>

                        <strong>Εξώφυλλο:</strong>

                        {{ book.cover_type }}

                    </h5>

                </div>

            </div>

            <!-- κατηγορια -->

            <div class="mt-4">

                <h5>

                    <strong>Κατηγορία:</strong>

                    {{ book.categories }}

                </h5>

            </div>

            <hr class="my-4">

            <!-- περιληψη -->

            <p

                style="
                    font-size:1.15rem;
                    line-height:1.7;
                ">

                {{ book.description or "Δεν έχει προστεθεί ακόμη περίληψη για αυτό το βιβλίο." }}

            </p>

        </div>

    </div>

</div>

{% endblock %}