{% extends "base.html" %}

{% block content %}

<!-- αρχικη σελιδα -->

<div class="home-container">

    <!-- border -->

    <img

        src="{{ url_for(

            'static',

            filename='images/border-main.png'

        ) }}"

        class="home-border"

    >

    <!-- τιτλος -->

    <img

        src="{{ url_for(

            'static',

            filename='images/title-main.png'

        ) }}"

        class="home-title"

    >

    <!-- βιβλια -->

    <a href="{{ url_for('books') }}">

        <img

            src="{{ url_for(

                'static',

                filename='images/books-main.png'

            ) }}"

            class="home-books"

        >

    </a>

    <!-- δανεισμοι -->

    <a href="{{ url_for('loans') }}">

        <img

            src="{{ url_for(

                'static',

                filename='images/loans-main.png'

            ) }}"

            class="home-loans"

        >

    </a>

    <!-- επιστροφες -->

    <a href="{{ url_for('returns') }}">

        <img

            src="{{ url_for(

                'static',

                filename='images/returns-main.png'

            ) }}"

            class="home-returns"

        >

    </a>

    <!-- μελη -->

    <a href="{{ url_for('members') }}">

        <img

            src="{{ url_for(

                'static',

                filename='images/members-main.png'

            ) }}"

            class="home-members"

        >

    </a>

</div>

{% endblock %}