{% extends "base.html" %}

{% block banner_content %}

<a href="{{ url_for('home') }}">

    <img
        src="{{ url_for('static',
        filename='images/loans.png') }}"
        style="
            width:350px;
            height:auto;
        ">

</a>

{% endblock %}

{% block content %}

<div class="container mt-4">

    <!-- ΣΤΟΙΧΕΙΑ ΜΕΛΟΥΣ -->

    <h3>

        Στοιχεία Μέλους

    </h3>

    <table class="table table-bordered">

        <thead>

            <tr>

                <th>

                    Αριθμός Κάρτας

                </th>

                <th>

                    Όνομα

                </th>

                <th>

                    Επώνυμο

                </th>

                <th>

                    Τηλέφωνο

                </th>

                <th>

                    Συνολικό Υπόλοιπο

                </th>

            </tr>

        </thead>

        <tbody>

            <tr>

                <td>

                    <input
                    
                      id="card_number"

                      class="form-control"

                      value="{% if member %}{{ member.card_number }}{% endif %}">

                </td>

                <td id="first_name">

                  {% if member %}

                      {{ member.first_name }}

                  {% endif %}

                </td>

                <td id="last_name">

                  {% if member %}

                      {{ member.last_name }}

                  {% endif %}
                  
                </td>

                <td id="phone">

                  {% if member %}

                      {{ member.phone }}

                  {% endif %}


                </td>

                <td id="balance">

                  {% if member %}

                      {{ member.balance }}

                  {% endif %}

                </td>

            </tr>

        </tbody>

    </table>

    <br>

    <!-- ΝΕΟΙ ΔΑΝΕΙΣΜΟΙ -->

    <h3>

        Νέοι Δανεισμοί

    </h3>

    <table class="table table-bordered">

        <thead>

            <tr>

                <th>ISBN</th>

                <th>Τίτλος</th>

                <th>Συγγραφέας</th>

                <th>Εκδότης</th>

                <th>Έτος</th>

                <th>Γλώσσα</th>

                <th>Ημ. Δαν.</th>

                <th>Ημ. Διορ.</th>

            </tr>

        </thead>

        <tbody>

        {% for i in range(1, 11) %}

        <tr

            id="row{{ i }}"

            {% if i != 1 %}
            style="display:none;"
            {% endif %}

        >

            <td>

                <input

                    id="isbn{{ i }}"

                    class="form-control"

                    {% if i == 1 and book %}
                    value="{{ book.isbn }}"
                    {% endif %}

                >

            </td>

            <td id="title{{ i }}">

                {% if i == 1 and book %}

                    {{ book.title }}

                {% endif %}

            </td>

            <td id="authors{{ i }}">

                {% if i == 1 and book %}

                    {{ book.authors }}

                {% endif %}

            </td>

            <td id="publisher{{ i }}">

                {% if i == 1 and book %}

                    {{ book.publisher }}

                {% endif %}

            </td>

            <td id="year{{ i }}">

                {% if i == 1 and book %}

                    {{ book.year }}

                {% endif %}

            </td>

            <td id="language{{ i }}">

                {% if i == 1 and book %}

                    {{ book.language }}

                {% endif %}

            </td>

            <td id="borrow_date{{ i }}"></td>

            <td id="due_date{{ i }}"></td>

        </tr>

        {% endfor %}

        </tbody>

    </table>

    <div

        style="
            margin-top:20px;
            text-align:right;
        ">

        <button

            id="save-loan"

            class="btn library-btn-green">

            Ολοκλήρωση Δανεισμού

        </button>

    </div>

</div>

<script>

document.getElementById(
    "card_number"
).addEventListener(

    "change",

    function () {

        fetch(

            "/api/member/" +

            this.value

        )

        .then(

            response =>
            response.json()

        )

        .then(

            data => {

                if (

                    !data.found

                ) {

                    return;

                }

                document.getElementById(
                    "first_name"
                ).innerHTML =
                    data.first_name;

                document.getElementById(
                    "last_name"
                ).innerHTML =
                    data.last_name;

                document.getElementById(
                    "phone"
                ).innerHTML =
                    data.phone;

                document.getElementById(
                    "balance"
                ).innerHTML =
                    data.balance;

            }

        );

    }

);

</script>

<script>

function setupBookRow(number){

    let isbnInput = document.getElementById(

        "isbn" + number

    );

    if(

        !isbnInput

    ){

        return;

    }

    isbnInput.addEventListener(

        "change",

        function(){

            fetch(

                "/api/book/" +

                this.value.trim()

            )

            .then(

                response =>

                response.json()

            )

            .then(

                data => {

                    if(

                        !data.found

                    ){

                        return;

                    }

                    document.getElementById(

                        "title" + number

                    ).innerHTML =
                    data.title;

                    document.getElementById(

                        "authors" + number

                    ).innerHTML =
                    data.authors;

                    document.getElementById(

                        "publisher" + number

                    ).innerHTML =
                    data.publisher;

                    document.getElementById(

                        "year" + number

                    ).innerHTML =
                    data.year;

                    document.getElementById(

                        "language" + number

                    ).innerHTML =
                    data.language;

                    let today = new Date();

                    let due = new Date();

                    due.setDate(

                        due.getDate() + 30

                    );

                    document.getElementById(

                        "borrow_date" + number

                    ).innerHTML =

                    today.toLocaleDateString(
                        "el-GR"
                    );

                    document.getElementById(

                        "due_date" + number

                    ).innerHTML =

                    due.toLocaleDateString(
                        "el-GR"
                    );

                    let nextRow = document.getElementById(

                        "row" +

                        (number + 1)

                    );

                    if(

                        nextRow

                    ){

                        nextRow.style.display = "";

                    }

                }

            );

        }

    );

}

for(

    let i = 1;

    i <= 10;

    i++

){

    setupBookRow(i);

}

</script>

<script>

document.getElementById(

    "save-loan"

).addEventListener(

    "click",

    function(){

        let books = [];

        for(

            let i = 1;

            i <= 10;

            i++

        ){

            let isbn = document.getElementById(

                "isbn" + i

            ).value.trim();

            if(

                isbn != ""

            ){

                books.push(

                    isbn

                );

            }

        }

        fetch(

            "/save-loan",

            {

                method:"POST",

                headers:{

                    "Content-Type":

                    "application/json"

                },

                body:JSON.stringify(

                    {

                        member_card:

                        document.getElementById(

                            "card_number"

                        ).value,

                        books:

                        books

                    }

                )

            }

        )

        .then(

            response =>

            response.json()

        )

        .then(

            data => {

                if(

                    data.success

                ){

                    alert(

                        "Ο δανεισμός αποθηκεύτηκε!"

                    );
                    
                    window.location.href = "{{ url_for('home') }}";

                }

                else{

                    alert(

                        data.message

                    );

                }

            }

        );

    }

);

</script>


{% endblock %}