{% extends "base.html" %}

{% block banner_content %}

<a href="{{ url_for('home') }}">

    <img
        src="{{ url_for('static', filename='images/members.png') }}"
        style="
            width:350px;
            height:auto;
        ">

</a>

{% endblock %}

{% block content %}

<div class="container mt-4">

    <div class="row">

        <!-- ΑΡΙΣΤΕΡΗ ΣΤΗΛΗ -->

        <div class="col-md-8">

            <div class="member-preview-card">

                <img
                    src="{{ url_for('static', filename='images/library_card.png') }}"
                    class="member-card-image">

                <div class="mini-member-first-name">

                    {{ member.first_name }}

                </div>

                <div class="mini-member-last-name">

                    {{ member.last_name }}

                </div>

                <div class="mini-member-number">

                    {{ member.card_number }}

                </div>

            </div>



        </div>

        <!-- ΔΕΞΙΑ ΣΤΗΛΗ -->

        <div class="col-md-4">

            <div class="member-info-panel">

                <div class="mb-3">
                 
                    <label>
                        Ημερομηνία Γέννησης
                    </label>

                    <div class="member-info-text">

                        {{ member.date_of_birth }}
                        
                    </div>

                <div class="mb-2">

                    <label>
                        Τηλέφωνο
                    </label>

                    <div class="member-info-text">

                        {{ member.phone }}

                    </div>

                </div>

                <div class="mb-3">

                    <label>
                        Διεύθυνση Κατοικίας
                    </label>

                    <div class="member-info-text">

                        {{ member.address }}

                    </div>

                </div>

                <br><br>

                <h4>

                    Συνολικό Υπόλοιπο:

                </h4>

                <h3>

                    {{ member.balance }} €

                </h3>

            </div>

        </div>

    </div>

    <hr>

    <div

        style="
            display:flex;
            justify-content:space-between;
            align-items:center;
            margin-top:-5px;
            margin-bottom:15px;
        ">

        <h3

            style="margin:0;">

            Ιστορικό Δανεισμών

        </h3>

        <a
            style="
                width: 200px;
                height: 48px;
                font-size: 19px;
                margin-right: 500px;
                
            "
            href="{{ url_for(
                'loans',
                member_id=member.id
            ) }}"

            class="btn library-btn-green">

            Νέος Δανεισμός

        </a>

        <div

            style="
                display:inline-flex;
                align-items:center;
                margin-right: 220px;
                gap:20px;
                padding:7px 17px;
                background:#f2ead8;
                border:1px solid #cacaca;
                border-radius:6px;
            "

        >

            <a

                href="{{ url_for(

                    'edit_member',

                    id=member.id

                ) }}"

            >

                <img

                    src="{{ url_for(

                        'static',

                        filename='images/edit.png'

                    ) }}"

                    style="
                        width:20px;
                        height:20px;
                    "

                >

            </a>

            <a

                href="{{ url_for(

                    'delete_member',

                    id=member.id

                ) }}"

                onclick="return confirm(

                    'Θέλετε σίγουρα να διαγράψετε το μέλος;'

                );"

            >

                <img

                    src="{{ url_for(

                        'static',

                        filename='images/delete.png'

                    ) }}"

                    style="
                        width:20px;
                        height:20px;
                        cursor:pointer;
                    "

                >

            </a>

        </div>

        </div>

    </div>

    <table class="table table-bordered">

        <thead>

            <tr>

                <th>ISBN</th>

                <th>Τίτλος</th>

                <th>Συγγραφέας</th>

                <th>Ημερομηνία Δανεισμού</th>

                <th>Ημερομηνία Διορίας</th>

                <th>Κατάσταση</th>

                <th>Χρέωση</th>

                <th>Εξόφληση</th>

            </tr>

        </thead>

        <tbody>

            {% for loan in loans %}

            <tr>

                <td>

                    {{ loan.book.isbn }}

                </td>

                <td>

                    {{ loan.book.title }}

                </td>

                <td>

                    {{ loan.book.authors }}

                </td>

                <td>

                    {{ loan.borrow_date }}

                </td>

                <td>

                    {{ loan.due_date }}

                </td>

                <td>

                    {% if loan.status == "Borrowed" %}

                        Δανεισμένο

                    {% else %}

                        Επιστράφηκε

                    {% endif %}

                </td>

                <td>

                    {{ loan.fine }} €

                </td>

                <td

                    style="
                        text-align:center;
                    ">

                    {% if loan.status == "Borrowed" %}

                        <input

                            type="checkbox"

                            class="loan-checkbox"

                            disabled

                        >

                    {% elif loan.fine == 0 or loan.paid %}

                        <input

                            type="checkbox"

                            class="loan-checkbox"

                            checked

                            disabled

                        >

                    {% else %}

                        <input

                            type="checkbox"

                            class="loan-checkbox"

                            onchange="window.location.href='{{ url_for('pay_loan', loan_id=loan.id) }}'"

                        >

                    {% endif %}

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}