{% extends "base.html" %}

{% block banner_content %}

<a href="{{ url_for('home') }}">

    <img
        src="{{ url_for('static', filename='images/members.png') }}"
        style="
            width:350px;
            height:auto;
        ">

</a>

{% endblock %}

{% block content %}

<div class="container mt-4">

    <div class="row">

        <!-- ΑΡΙΣΤΕΡΗ ΣΤΗΛΗ -->

        <div class="col-md-8">

            <div class="member-preview-card">

                <img
                    src="{{ url_for('static', filename='images/library_card.png') }}"
                    class="member-card-image">

                <div class="mini-member-first-name">

                    {{ member.first_name }}

                </div>

                <div class="mini-member-last-name">

                    {{ member.last_name }}

                </div>

                <div class="mini-member-number">

                    {{ member.card_number }}

                </div>

            </div>



        </div>

        <!-- ΔΕΞΙΑ ΣΤΗΛΗ -->

        <div class="col-md-4">

            <div class="member-info-panel">

                <div class="mb-3">
                 
                    <label>
                        Ημερομηνία Γέννησης
                    </label>

                    <div class="member-info-text">

                        {{ member.date_of_birth }}
                        
                    </div>

                <div class="mb-2">

                    <label>
                        Τηλέφωνο
                    </label>

                    <div class="member-info-text">

                        {{ member.phone }}

                    </div>

                </div>

                <div class="mb-3">

                    <label>
                        Διεύθυνση Κατοικίας
                    </label>

                    <div class="member-info-text">

                        {{ member.address }}

                    </div>

                </div>

                <br><br>

                <h4>

                    Συνολικό Υπόλοιπο:

                </h4>

                <h3>

                    {{ member.balance }} €

                </h3>

            </div>

        </div>

    </div>

</div>

{% endblock %}