{% extends "base.html" %}

{% block content %}

<h1>Βιβλία</h1>

<table class="table table-striped">

    <thead>

        <tr>

            <th>ISBN</th>
            <th>Τίτλος</th>
            <th>Εκδότης</th>
            <th>Έτος</th>

        </tr>

    </thead>

    <tbody>

        {% for book in books %}

        <tr>

            <td>{{ book.isbn }}</td>

            <td>{{ book.title }}</td>

            <td>{{ book.publisher }}</td>

            <td>{{ book.year }}</td>

        </tr>

        {% endfor %}

    </tbody>

</table>

{% endblock %}