{% extends "base.html" %}


{% block banner_content %}

<a href="{{ url_for('home') }}">

    <img

        src="{{ url_for(

            'static',

            filename='images/members.png'

        ) }}"

        style="
            width:350px;
            height:auto;
        ">

</a>

{% endblock %}


{% block content %}

<!-- λιστα μελων -->

<div class="container">

    <table class="table table-hover">

        <thead>

            <tr>

                <th>Αριθμός Κάρτας</th>

                <th>Όνομα</th>

                <th>Επώνυμο</th>

                <th>Τηλέφωνο</th>

                <th>Διεύθυνση Κατοικίας</th>

            </tr>

        </thead>

        <tbody>

            {% for member in members %}

            <!-- στοιχεια μελους -->

            <tr

                onclick="window.location='/member/{{ member.id }}'"

                style="cursor:pointer;">

                <td>

                    {{ member.card_number }}

                </td>

                <td>

                    {{ member.first_name }}

                </td>

                <td>

                    {{ member.last_name }}

                </td>

                <td>

                    {{ member.phone }}

                </td>

                <td>

                    {{ member.address }}

                </td>

            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}